*{
    border:2px;
}
div{
    display:flex;
    margin: 0px;
    height:100vh;
}
.one{
    background:linear-gradient(red,pink)
}
.two{
   background:url(./tree-g87387127c_640.jpg);
   height:100vh;
   background-attachment:fixed;
}
.three{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,118,9,0.865983893557423) 35%, rgba(0,212,255,1) 100%);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: x-large;
position:relative;
.four{
    float:left;
   
}
span{
    position:relative;
    right:20%;
    text-align-last: center;
}
