body{
    color:rgb(17, 17, 17);
    background-color: seagreen;
/* well css allows us to make decorations to our websites and make them atttractive for the user isnt that beautiful */
}
#mytext{
    color:springgreen
}
/* well this is a way of creating commnets in CSS and this is very interesting to learn and this can be done perfectly */
/* well this is the basic way of making commments in CSS */