div{
    height:200px;
    width:200px;
    background-color:wheat;
    margin-left:200px;
    margin-top:200px;
    padding-left:10px;
    padding-top:20px;
    border-radius:20px;
    border-style: solid;
    border-color:grey;
}
li{
    font-weight:bolder;
    font-family:
}
li:hover{
    color:blue;
}