div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
*{
    background-image: none;
    background-color: wheat;
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
