.flex-container{
   
   display:flex;
   height:600px;
   flex-wrap:wrap;
  flex-direction:column;

}
h1{
    text-align: center;
}
.final{
flex-wrap:wrap;
height:500px;
width:500px;
background:yellow;
}
.flex-container1 {
   
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    flex-direction: column;
    float:right;
    margin-bottom:700px;
   
}
.flex-container > div{
background-color:rgb(223, 182, 209);
width:100px;
margin:10px;
text-align:center;
font-size:20px;
border:solid purple ;
font-size:30px;

}
body{
    background-image:url(https://img.freepik.com/free-vector/software-development-illustration_73903-337.jpg?w=740);
    background-repeat: no-repeat;
    background-size: 100%;
 
}

.flex-container1>div {
    background-color:rgb(70, 201, 9);
    width:100px;
    margin:10px;
    text-align:center;
    font-size:20px;
    border:solid purple;
    align-items:flex-start;
    font-size:30px;
}
.moha{
    display:flex;
}
h1{
    color:rgb(248, 106, 11)
}
p{
    text-align: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgba(34, 3, 207, 0.993);
}
form{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left:100px;
    align-items: center;


    
}

label{
    font-weight:bolder;
    color:black;
}
input[type=text]{
    width:300px;
    height:30px;
    border-radius: 10px;
    border:none;
    text-align: center;

}
input[type=Submit]{
        width:200px;
        height:30px;
        border-radius: 10px;
        border:none;
        text-align: center;
        color:white;
        background-color: aqua;
        cursor:pointer;

}
input[type=Submit]:hover{
background-color: rgb(9, 226, 154);
}
.trial:hover{
    text-decoration:underline;
}




/* flex direction */
/* flex-wrap */
/* flex-flow */
/* justify-content */
/* align-items */
/* align-content */
/*  wraping items side by sise*/
/* 
flex-flow: flex-direction flex-wrap
*/